.dress-display img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.dresses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper {
  flex-grow: 1;
  display: inline-block;
}

.dress-display {
  margin: 0 auto 24px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

.dress-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dress-info {
  margin: 24px;
  width: 250px;
}

.reviews {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
  background: white;
  border-radius: 8px;
}

.review {
  display: flex;
  justify-content: space-between;
}

.delete-review {
  margin-right: 40px;
}

.new-review {
  width: 100%;
  margin-left: 16px;
}

.display-reviews {
  flex-grow: 1;
}
