<div class="container bg-white center">
  <h1>Dress to Impress is a brand dedicated to saving the world through glitter!</h1>
  <img src="http://media.bizj.us/view/img/1795341/dove-real-beauty-campaign*800xx750-422-0-17.jpg" alt="">
  <p>A brand set up in 2021 to make lives easier for every woman. Don't know what to wear? The budget is tight, but all of your 100 friends are getting married this summer? Weep no more!</p>
  <p>Dress To Impress will help you find dresses for any occasion on a budget. Whether it's a date, a party or a formal occassion you'll find something for yourself!</p>
  <%= link_to 'Search for a dress!', dresses_path, class: "btn btn-flat center" %>
</div>
