<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xvdGhpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);">
  <div class="container">
    <h1>Welcome to the world of <strong>dresses</strong>!</h1>
    <p>Become a true Cindirella!</p>
    <%= link_to 'Search for a dress!', dresses_path, class: "btn btn-flat" %>
  </div>
</div>

