// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-image: url(https://previews.123rf.com/images/doozydo/doozydo1708/doozydo170801000/84367577-black-polka-dots-seamless-pattern-on-white-background-unusual-classic-black-polka-dots-textile-patte.jpg);
  background-size: 30%;
  overflow:auto;
  padding-bottom: 3rem;
}

.bg-white {
  background: white;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
    color: #222;
  }
}
